.menu {
    z-index: 2;
    width: 60px;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-right: 1px solid var(--c-white-bone-rgba);
    background-color: var(--c-blue-dark);
    transition: width 0.2s ease-in-out;
}
.menu.expanded {
    width: 200px;
    opacity: 1;
}

.menu__button {
    z-index: 3;
    top: 50%;
    right: 0;
    padding: 20px;
    position: absolute;
    
    border: none;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(-50%) rotate(180deg);
    writing-mode: vertical-rl;
    color: var(--c-white-bone);
    font-family: 'NeueMontreal-Medium', sans-serif;
    background-color: transparent;
    transition: color 0.2s ease;
}
.menu__button:hover {color: var(--c-red-dark);}

.menu__content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
}
.menu__content.expanded {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.menu__name,
.menu__job {
    margin: 0;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    color: var(--c-white-bone);
}
.menu__name {
    padding-top: 20px;

    font-size: 20px;
    text-transform: uppercase;
    font-family: 'NeueMontreal-Medium', sans-serif;
}
.menu__job {
    font-size: 10px;
    font-family: 'NeueMontreal-Regular', sans-serif;
}

.menu__links {
    margin-top: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.menu__link {
    margin-bottom: 20px;
    position: relative;

    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'NeueMontreal-Bold', sans-serif;
    color: var(--c-white-bone);
}
.menu__link:hover {
    color: var(--c-red-dark);
}

                    /* --- main --- */
.main {
    height: 100vh;
    width: calc(100% - 60px);
    margin-left: 60px;
    flex-grow: 1;
    display: flex;

    background-color: var(--c-blue-dark);
    transition: all 0.5s ease;
    overflow: hidden;
}

                    /* --- media query --- */
@media screen and (min-width: 481px) { /* iPad / Tablet */
}
@media screen and (min-width: 769px) { /* laptop / small screen */
}
@media screen and (min-width: 1025px) { /* monitor / big screen */
    /* --- menu --- */
    .menu { /* always expanded */
        width: 200px;
    }
    .menu__button { /* no button */
        display: none;
    }
    .menu__content { /* menu visible */
        visibility: visible;
        opacity: 1;
        transition: none;
    }
    
    /* --- main --- */
    .main {
        width: calc(100% - 200px);
        margin-left: 200px;
    }
}