/* --- 1rem/em = 10px --- */
html { font-size: 62.5%; }
body { font-size: 14px; }
/* --- box sizing --- */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: var(--c-blue-dark);
}

                    /* --- values --- */
:root {
    --c-red-dark: #8b0000;
    --c-blue-dark: #00030a;
    --c-white-bone: #fffcf5;
    --c-white-bone-rgba: #fffcf550;
}

                    /* --- general --- */
body {font-family: 'NeueMontreal-Regular', sans-serif;}
h1 {
    margin: 0px;
    font-size: 40px;
    text-transform: uppercase;
}

                    /* --- effects --- */
.selected {
    color: var(--c-red-dark);
}

                    /* --- media query --- */
@media screen and (min-width: 481px) { /* iPad / Tablet */
}
@media screen and (min-width: 769px) { /* laptop / small screen */
}
@media screen and (min-width: 1025px) { /* monitor / big screen */
}
