.submenu {
    z-index: 1;
    height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: transparent;
    transition: transform 0.5s ease-in-out, width 0.5s ease;
}
.submenu.change {
    visibility: hidden;
    opacity: 0;
    width: 0%;
}

.submenu__link {
    margin: 0;

    font-size: 40px;
    text-transform: uppercase;
    color: var(--c-white-bone);
    text-decoration: none;
    outline: none;
    transition: transform 0.5s ease-in-out;
}
.submenu__link:hover {
    color: var(--c-red-dark);
    transition: all 0.2s ease-in;
}

                    /* --- detail --- */
.detail {
    z-index: 1;
    width: 0%;
    /* opacity: 0; */
    box-sizing: border-box;
    overflow-y: auto;

    color: var(--c-white-bone);
    background-color: var(--c-blue-dark);
    transition: width 0.5s ease, transform 0.5s ease-in-out;
}
.detail.change {
    width: 100%;
    padding: 20px;
    /* opacity: 1; */

    border-left: 1px solid var(--c-white-bone-rgba);
}

.detail__content {
    opacity: 0;
    color: var(--c-white-bone);
    transition: opacity 0.2s ease-in-out;
}
.detail__content.change {
    opacity: 1;
}

                    /* --- about me --- */
.about__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

                    /* --- media query --- */
@media screen and (min-width: 481px) { /* iPad / Tablet */
}
@media screen and (min-width: 769px) { /* laptop / small screen */
}
@media screen and (min-width: 1025px) { /* monitor / big screen */
    /* --- submenu --- */
    .submenu {
        align-items: flex-end;
    }
    .submenu.change {
        visibility: visible;
        opacity: 1;
        width: 40%;
    }

    /* --- detail --- */
    .detail.change {
        padding: 20px;
        width: 60%;
    }
}